@import "variable";

.footer {
    background-color: $first-bg-color;
    padding: 3% 5%;
    padding-bottom: 100px;

    .footer-navigation {
        padding-bottom: 100px;
    }

    .futer-modul-logo {
        color: $text-color;
        font-size: 1rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width:768px) {
            font-size: 0.8rem;
        }

        .logo {
            width: 20%;
            color: $second-bg-color;
            font-size: 3.5rem;
            padding-bottom: 1vh;

            .logo-down,
            .logo-up {
                font-size: 2.5rem;

            }
        }
    }

    .footer-link-menu {
        display: flex;
        width: 70%;
        justify-content: space-between;
        color: $text-color;
        margin-top: 5vh;

        @media screen and (max-width:768px) {
            width: 60%;
            display: grid;
            margin: 5vh 0;
            justify-content: space-between;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            row-gap: 10%;
        }

        .modul-listen {
            line-height: 180%;

            a {
                color: $text-color;
            }

            h4 {
                font-size: 1rem;

                @media screen and (max-width:768px) {
                    font-size: 1rem;
                }
            }

            & p {
                font-size: 0.8rem;
            }
        }
    }
}