@import "variable";

.content-listen {
    width: 80%;

    @media screen and (max-width: 991px) {
        width: 100%;
    }

    .container-items-wrapper {
        padding: 3% 5%;
        width: 100%;
        gap: 3%;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(rgba(202, 196, 133, 0.8), rgb(241, 242, 243));

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .listen-logo {
            .img-wrapper {
                width: 20vw;
                height: 20vw;
                background-color: rgb(243, 224, 200);
                filter: drop-shadow(0 8px 12px rgba(28, 31, 58, .5));
                border-radius: 15px;

                @media screen and (max-width: 768px) {
                    width: 45vw;
                    height: 40vw;
                    margin-bottom: 3vh;
                }
            }
        }

        .title-buttons-container {
            width: 70%;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 640px) {
                width: 100%;
            }

            .title-container {
                h1 {
                    font-size: 3rem;
                    margin-bottom: 1vw;
                }

                p {
                    margin-bottom: 2vw;
                }
            }

            .button-container {
                display: flex;
                align-items: center;
                gap: 10px;

                .play-icon-listen {
                    width: 50px;
                    cursor: pointer;
                }

                .favorite-icon-module {
                    width: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}