@import "variable";

.opasity-container {
    .audiobook-navigation-module-change-bg {
        background-color: $bg-audiobook;

        .audiobook-link-menu {
            .activ-page-menu {
                span {
                    color: $first-bg-color;
                    font-weight: bold;
                }
            }


            .audiobook-link-menu,
            .audiobook-regisr-module {
                box-shadow: 0 -4px 14px rgb(0 0 0 / 10%);

                a {
                    span {
                        color: $second-bg-button-hover;
                    }
                }
            }
        }
    }
}

.header-music-page {
    border-bottom: 1px solid $text-color-audiobook;
    display: none;

    @media screen and (max-width: 991px) {
        display: block;
    }

    .header-navigation {
        background-color: $bg-audiobook;
    }
}

.musicpage-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: $bg-audiobook;
    margin: auto;

    /*боковая панель навигации*/
    .audiobook-navigation-module {
        width: 20%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: fixed;
        top: 1%;
        left: 0;
        bottom: 5%;

        @media screen and (max-width: 991px) {
            display: none;
        }

        span {
            color: $text-color-audiobook;
            font-size: 1.3rem;
            line-height: 200%;
            font-weight: lighter;
        }

        .audiobook-link-menu {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding: 5% 10%;

            a {
                :hover {
                    color: $first-bg-color;
                }
            }

            .activ-page-menu {
                span {
                    color: $first-bg-color;
                    font-weight: bold;

                }

            }

            .logo {
                border: 2px solid $second-bg-color;
                border-radius: 3px;
                text-align: center;
                margin-bottom: 2vh;

                .logo-up {
                    font-size: 1.5rem;
                    color: $first-bg-color;
                    font-weight: bold;
                }

                .logo-down {
                    font-size: 1.5rem;
                    color: $first-bg-color;
                    font-weight: bold;
                }
            }
        }
    }

    /*регистрация*/
    .audiobook-regisr-module {
        display: flex;
        flex-direction: column;
        padding: 1% 10%;
        margin-bottom: 2vh;

        span {
            color: $first-bg-color;
            font-weight: lighter;
        }

        box-shadow: 0 -4px 14px rgb(0 0 0 / 10%);
    }

    /*основной контент*/
    .mucic-page-content {
        width: 80%;

        @media screen and (max-width: 991px) {
            width: 100%;
        }

        .list-search-music-janre {
            display: flex;
            gap: 10vw;
            margin-top: 3vh;
            flex-wrap: wrap;

            div {
                font-size: 14px;
                letter-spacing: .045em;
                line-height: 210%;

            }
        }

        .music-page-content-best-module {
            padding: 5%;
            color: $first-bg-color;

            h1 {
                margin-bottom: 3vh;
            }

            h3 {
                margin-top: 5vh;
            }

            .best-stations {
                margin-top: 5vh;

                .best-station-molule {
                    display: flex;
                    align-items: center;
                    gap: 3vh;
                    padding: 1vw 0;


                    .wrapper-music-page-file-img-play {
                        width: 100px;
                        height: 100px;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            display: block;
                            object-fit: cover;
                        }

                        .ico-pl-test {
                            width: 50%;
                            height: 50%;
                            display: block;
                            right: 0;
                            bottom: 0;

                        }
                    }

                    .wrapper-title-music-station-module {
                        line-height: 180%;

                        .title-music-module {
                            color: $first-bg-color;
                            font-weight: lighter;
                            letter-spacing: 0.1rem;
                        }

                        .title-music-Janre {
                            color: $text-color-audiobook;
                            font-weight: lighter;
                            letter-spacing: 0.1rem;
                            font-size: 0.9rem;
                        }
                    }
                }
            }




        }

        footer {
            color: $first-bg-color;
            margin-top: 5%;
            padding: 3%;
        }
    }
}