//@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import"variable";
@import"header";
@import"footer";
@import"content";
@import"audiobook";
@import"listenpage";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    // border: 1px solid red;
}

body {
    overflow: overlay !important;

}


::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    // display: none;
}

::-webkit-scrollbar-thumb {
    background-color: $second-bg-button-hover;
    border-radius: 10px;
    border: 1px solid $first-bg-color;
    background-clip: padding-box;
}